* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --color-white: #ffffff;
  --color-dark-blue: #0e204e;
  --color-black: #000000;
  --font-size-h1: 2.6rem;
  --font-size-h2: clamp(18px, 6.4vw, 40px);
}

body {
  background-color: var(--color-white);
}

.header__logo {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 5.33vw, 32px);
  color: var(--color-dark-blue);
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem 2.2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.header--scrolled {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 4px 12px rgba(14, 32, 78, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
}

.header {
  transition:
    padding 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.header__menu-icon {
  margin-top: 2.1rem;
}

.header__menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: var(--color-dark-blue);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 2rem 2rem 2rem;
  transition: right 0.4s ease;
}

.header__nav--active {
  right: 0;
}

.header__nav-list {
  list-style: none;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__nav-list li {
  margin-bottom: 3rem;
}

.header__nav-list a {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h2);
  font-size: 2.4rem;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 400;
}

.header__nav-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

.header__nav-footer {
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero,
.about {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
}

.hero__img--base,
.hero__img--overlay,
.hero__content,
.about__img,
.about__img--overlay,
.about__content {
  grid-area: 1 / 1;
}

.about__img--base,
.about__img--overlay {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero__img,
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__img {
  display: block;
}

.hero__img--overlay,
.about__img--overlay {
  z-index: 1;
}

.about__img--overlay {
  pointer-events: none;
}

.hero__content {
  z-index: 2;
  margin-top: clamp(100px, 53.13vw, 177px);
  text-align: center;
}

.about__content {
  grid-area: 1 / 1;
  z-index: 2;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  padding: 0 5.7rem;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 2.4rem;
  position: relative;
  min-height: clamp(380px, 100vw, 500px);
  overflow: hidden;
}

.hero__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: clamp(2.6rem, 7.2vw, 4.8rem);
  color: var(--color-white);
}

.hero__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 3.73vw, 2rem);
  color: var(--color-white);
  line-height: 150%;
  margin-top: 2.4rem;
  padding-left: clamp(0.7rem, 0.186vw, 4rem);
  padding-right: clamp(0.7rem, 0.186vw, 4rem);
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

.hero__button {
  margin-top: 3.2rem;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  padding: 1rem 1.9rem 1.1rem 1.9rem;
}

.about__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h2);
  color: var(--color-dark-blue);
  text-align: center;
  margin-top: 5.6rem;
}

.about__text,
.why-us__text,
.available__text,
.become__text,
.stay__text {
  font-size: clamp(14px, 4.267vw, 24px);
}

.about__text,
.become__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--color-white);
  line-height: 160%;
}

.about__text {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  pointer-events: auto;
  gap: 0;
}

.about__text::-webkit-scrollbar {
  display: none;
}

.about__text p {
  flex: 0 0 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
  pointer-events: none;
}

.scroll-container__btn {
  pointer-events: auto;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.why-us,
.offers,
.available {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.why-us__title,
.offers__title,
.available__title {
  font-size: var(--font-size-h2);
  color: var(--color-dark-blue);
  margin-top: 5.6rem;
}

.offers__title {
  margin-bottom: 2.4rem;
}

.why-us__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 160%;
  color: var(--color-dark-blue);
  margin-top: 1.6rem;
}

.why-us__img {
  margin-top: 1.6rem;
  width: clamp(280px, 89.33vw, 1200px);
  height: auto;
}

.offers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.offers__img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  width: clamp(280px, 89.33vw, 1200px);
}

.offers__list {
  background-color: var(--color-dark-blue);
  height: clamp(18rem, 65.87vw, 24.7rem);
  width: clamp(22rem, 79.73vw, 29.9rem);
  margin-top: -6rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 2;
  padding: 1.5rem;
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offers__text span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-white);
}

.offers__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100%;
  margin-bottom: 15px;
}

.offers__icon {
  max-height: 100%;
  width: auto;
}

.available {
  padding-bottom: 5.6rem;
}

.available__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--color-dark-blue);
  margin: 1.6rem 2rem 0 2rem;
  line-height: 160%;
}

.available__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.8rem, 2vw, 1.6rem);
  margin-top: 2.4rem;
  width: 100%;
}

.available__item {
  grid-row: span 1;
  grid-column: span 1;
  width: 100%;
  overflow: hidden;
}
.available__item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.available__item--tall1 {
  grid-row: span 2;
  grid-row: 3 / 5;
  grid-column: 2 / 3;
}

.available__item--tall2 {
  grid-row: span 2;
  grid-row: 5 / 7;
  grid-column: 1 / 2;
}

.available__item--wide {
  grid-row: span 1;
  grid-column: span 2;
}

.become {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.2rem 2rem 4rem 2rem;
  background-color: var(--color-dark-blue);
  align-items: center;
  text-align: center;
}

.become__title {
  font-family: "Podkova", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h2);
  color: var(--color-white);
}

.become__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 160%;
  color: var(--color-white);
  margin-top: 1.6rem;
}

.become__button {
  margin-top: 2.4rem;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  padding: 1rem 1.8rem 1.1rem 1.8rem;
}

.stay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  align-items: center;
  text-align: center;
  padding: 5.6rem 2rem 5.6rem 2rem;
}

.stay__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-h2);
  color: var(--color-dark-blue);
}

.stay__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: var(--color-dark-blue);
  margin-top: 1.6rem;
  margin-bottom: 2.5rem;
}

.stay__form {
  margin: 0 auto;
  width: clamp(27.5rem, 73.33vw, 60rem);
}

.stay__input,
.stay__textarea {
  width: 100%;
  background: transparent;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000000;
  display: block;
}

.stay__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.2rem 0;
}

.stay__textarea {
  opacity: 0.6;
}

.stay__input-row {
  margin-bottom: 1.3rem;
}

.stay__input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2.5rem;
}

.stay__label {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.6;
  color: #000000;
  margin-bottom: 1rem;
}

.stay__textarea {
  min-height: 8.3rem;
  resize: vertical;
}

.stay__input::placeholder,
.stay__textarea::placeholder {
  color: #000000;
  opacity: 0.6;
}

.stay__button {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  padding: 1rem 2.3rem 1.1rem 2.3rem;
  margin-top: 1.6rem;
}

.footer {
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.1rem 0;
}

.footer__logo {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  transition: opacity 0.3s ease;
}

.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-white);
  margin-top: 0.9rem;
}

.footer__copyright span {
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(65, 67, 71, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 2rem;
}

.modal--active {
  display: flex;
  animation: fadeIn 0.2s ease;
}

.modal__content {
  background: white;
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--color-dark-blue);
}

.modal .stay__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .stay__button {
  align-self: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal__title {
  font-family: "Lato", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-dark-blue);
  margin-top: 3rem;
}

.modal__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: var(--color-dark-blue);
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

